:root{
    /*=============== color ==============  */

    --pallete-1: #3E3c6E;
    --pallete-2: #FE9798;
    --pallete-3: #FEAE97;
    --pallete-4: #F6E8DF;
    --pallete-5: #023336;
    --pallete-6: #4da674;
    --pallete-7: #C1E6BA;
    --pallete-8: #EAF8E7;
    --pallete-9: #293855;
    --pallete-10: #4165D5;
    --pallete-11: #F1AC20;
    --pallete-12: #c3e8c9;
    --pallete-13: #252525;
    --pallete-14: #61CBFF;
    --pallete-15: #A56ABD;
    --pallete-16: #E95354;
    --pallete-17: #50ADBF;
    --pallete-18: #19384A;
    --pallete-19: #FDDA76;
    --pallete-20: #1B1B1B;
    --pallete-21: #77ABB6;
    --pallete-22: #F8B097;
    --pallete-23: #3FC495;
    --pallete-24: #F9CD6A;
    --pallete-25: #4840A3;
    --pallete-26: #9CBBFC;
    --pallete-27: #D8EFF7;
    --white: #fff;
    --black: #000;


    /*=============== fontsize ==============  */
    --text-sm: 1.2rem;
    --text-base: 1.6rem;
    --text-paragraph: 2rem;
    --text-h5: 2.4rem;
    --text-h4: 3.2rem;
    --text-h3:  4.0rem;
    --text-h2: 4.8rem;
    --text-h1: 6.2rem;
    
    /*=============== fontweight ==============  */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /*=============== line-height ==============  */
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;

    /*=============== line-spacing ==============  */
    --letter-spacing-tight: -2px
    
    /*=============== font-family ==============  */
    --font-family: "Poppins", serif;
    --font-family2: "Agu Disploy", serif;
}   
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    min-height: 100vh;
    
}
.container{
    display: flex;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    
}
/* navigation */

.nav-container{
    background-color:var(--pallete-13);
    display: flex;
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 1.0rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    top: 0;
    left: 0;
    
    


}
.icon-left{
    display: none;
}


a{
    text-decoration: none;
    border: none;
    border-radius: 50%;
    
    
}
p{
    font-size: var(--text-paragraph);
    color: var(--black);
    text-align: center;
}
.left-img{
    height: 60px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    box-shadow: 0 5px 8px var(--pallete-13);
    
}
.header-search-container{
    position: relative;
    display: flex;  
    

    
  
      
  }
  
input {
    
    width: 200px;
    padding: 1.0rem 1.5rem;
    border-radius: 50px ;
    cursor: text;
    border: 1px solid var(--pallete-11);;
   
    position: relative;
}
input:hover{
    border: 1px solid var(--pallete-19);
}
.search-icon{
    height: 15px;
   

}
.btn-search{
    padding: 1.0rem 1.5rem;
    border: 1px solid var(--pallete-11);
    border-radius: 50% ;
    cursor: pointer;
    color: var(--white);
    display: flex;
    background-color: var(--pallete-11);
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    align-items: center;
    
    
   

}
.btn-search:hover{
    background-color: var(--pallete-11);
}

.header-return{
    display: flex;
}
span{
    display: block;
    color: var(--white);
    cursor: pointer;
    
}

.Orders{
    font-family: cursive;
    font-weight: 700;
    
}
.open, .close{
    display: none;
    cursor: pointer;
    flex-shrink: 0;

}

@media (max-width: 600px){
    .left-img{
        display: none;
    }
    .icon-left{
        display: flex;
        font-size: var(--text-paragraph);
    }
    .header-return, span{
        display: none;
        flex-direction: column;
    }
    .add-cart-btn, .add-cart {
        display: none;
     
    }
    .open{
        display: flex;
        
    }
    .menu-container{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        padding: 1.0rem 1.5rem;
        gap: 10px;
        flex-wrap: wrap;
        row-gap: 30px;
        
        
       
    }
       
        
        
    
}


.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
    border-radius: 8px;
    padding: 1.0rem 1.5rem;
    gap: 10px;
    flex-wrap: wrap;
    row-gap: 30px;
    
    
   
}

.men-1, .men-2, .men-3, .men-4, .men-5, .men-6, .men-7, .men-8{
    background-color: var(--pallete-8);
    color: var(--black);
    box-shadow: 0 3px 5px;
    border-radius: 8px;
    padding: 1.0rem 1.5rem;
    background-color: #e0f4f4;
    border: none;
    font-size: var(--text-paragraph);
    flex-wrap: wrap;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 10%;
    transition: .5s;    
   

}


/* ----------hero section------------ */
.slide-container{
    display: flex;
    max-width: 800px;
    width: 90%;
    
    margin: 0 auto;
}





#dot:hover{
    background-color: #717171;
}



.item-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1700px;
    margin: 0 auto;
    width: 90%;
    
}
.item{
   
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 0 auto;
    width: 300px ;
    border: 2px solid var(--pallete-13);
    padding: 1.0rem 1.5rem;
    box-shadow: 1px 3px 5px;
    cursor: pointer;
    border-radius: 8px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    transition: .75s;
    
    
}
@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
        
    }to{
        opacity: 1;
        scale: 1;
      

    }
    
}
/* ---------------add to cart---------------*/
.add-cart-btn, .add-cart {
    cursor: pointer;
    background-color: var(--pallete-13) ;
    border: none;
    cursor: pointer;
    height: 60px;
    
   
}
.add-cart-btn:hover{
    border: 1px solid var(--white);
   
}
.check-out-link{
    display: flex;
    align-items: center;
    color: white;
    background-color:    #160202 ;
    
    
}

.item:hover{
    box-shadow:  8px;
}

.item-img {
    height: 150px;
    aspect-ratio: 1/1;

}
.rating{
    height: 20px;
}


.btn-primary{
    background: linear-gradient(to right, var(--pallete-2),var(--pallete-5));
    padding: 1.0rem 1.5rem;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    font-size: var(--text-sm);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-tight);
    background-size: 300% 100%;
    transition: background-position  0.5s ease-in-out;
  
}
.btn-primary:hover{
    background-position: right;
    color: var(--white);
   
    
    
}


