:root{
    /*=============== color ==============  */

    --pallete-1: #3E3c6E;
    --pallete-2: #FE9798;
    --pallete-3: #FEAE97;
    --pallete-4: #F6E8DF;
    --pallete-5: #023336;
    --pallete-6: #4da674;
    --pallete-7: #C1E6BA;
    --pallete-8: #EAF8E7;
    --pallete-9: #293855;
    --pallete-10: #4165D5;
    --pallete-11: #F1AC20;
    --pallete-12: #c3e8c9;
    --pallete-13: #252525;
    --pallete-14: #61CBFF;
    --pallete-15: #A56ABD;
    --pallete-16: #E95354;
    --pallete-17: #50ADBF;
    --pallete-18: #19384A;
    --pallete-19: #FDDA76;
    --pallete-20: #1B1B1B;
    --pallete-21: #77ABB6;
    --pallete-22: #F8B097;
    --pallete-23: #3FC495;
    --pallete-24: #F9CD6A;
    --pallete-25: #4840A3;
    --pallete-26: #9CBBFC;
    --pallete-27: #D8EFF7;
    --white: #fff;
    --black: #000;


    /*=============== fontsize ==============  */
    --text-sm: 1.2rem;
    --text-base: 1.6rem;
    --text-paragraph: 2rem;
    --text-h5: 2.4rem;
    --text-h4: 3.2rem;
    --text-h3:  4.0rem;
    --text-h2: 4.8rem;
    --text-h1: 6.2rem;
    
    /*=============== fontweight ==============  */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /*=============== line-height ==============  */
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;

    /*=============== line-spacing ==============  */
    --letter-spacing-tight: -2px
    
    /*=============== font-family ==============  */
    --font-family: "Poppins", serif;
    --font-family2: "Agu Disploy", serif;
}   
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    min-height: 100vh;
    
    
}
.container{
    display: flex;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
   
    
}
/* navigation */

nav{
    background-color:var(--pallete-13);
    display: flex;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 60px;
    padding: 1.0rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    top: 0;
    left: 0;
    gap: 10px;
    
    


}
nav a{
    letter-spacing: var(--letter-spacing-tight);
}
nav .left-img{
    display: inline-block;
}
nav .left-icon{
    display: none;
}


.left-img{
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    box-shadow: 0 5px 8px var(--pallete-13);
    
}
.header-search-container{
    position: relative;
    display: flex;  
   
  }
  
input {
    
    width: 900px;
    padding: 1.0rem 2.0rem;
    border-radius: 50px ;
    cursor: text;
    border: 1px solid var(--pallete-11);;
    position: relative;
    top: 0;
    left: 0;
}
input:hover{
    border: 1px solid var(--pallete-19);
}
.search-icon{
    height: 15px;
   

}
.btn-search{
    padding: 1.0rem 1.5rem;
    border-radius: 50% ;
    border: 1px solid var(--pallete-11);;
    cursor: pointer;
    background-color: var(--pallete-11);
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    align-items: center;
    
  

}
.link-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
nav a span{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1.0rem 1.5rem;
}
nav .left-img{
    display: flex;
    
}
nav svg{
    fill: white;
}

.open, .close{
    display: none;
    cursor: pointer;
    flex-shrink: 0;

}

@media (max-width: 600px){
    
    .left-img{
        display: none;
    }
    .icon-left{
        display: flex;
    }
    .link-container {
        flex-direction: column;
        background-color:var(--pallete-13);
        height: 600px;
        width: 100%;
        align-items: flex-start;
        
        top:0;
        right: 0;
      
        display: none;
        position: fixed;
        bottom: 0;
        box-shadow: 2px 5px 8px rgb(0 ,0, 0, 2);
        z-index: 10;
        transition: .75s ease-in-out;
        margin-top: 60px;
    }
    nav a{
        padding: 20px;
        height: 100%;
        width: 100%;
        justify-content: center;
        text-align: center;
        
        
    }
    nav svg{
        display: flex;
        justify-content: flex-start;
    }
    nav a:hover{
        background-color: #5b5f53;
    }
    .add-to-cart{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .add-cart-btn, .add-cart {
        display: flex;
        align-items: center;
        justify-content: center;
       position: absolute;
         right: 50%;
       
     
    }
  
    .open-sidebar{
       display: flex;
       align-items: center;
       justify-content: center;
       
    }
    nav .open{
        display: flex;
        flex-shrink: 0;
        margin-left: 10px;
       
    }
    .close{
        display: flex;
       justify-content: flex-start;
    }
    .js-list{
        display: flex;
        flex-direction: column;
       
       top: 0;
    }
    .list{
        background-color: #19384A;
        width: 300px;
        height: 400px;    
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        position: relative;
        margin-top: 150px;
        
    }
    .list li{
       color: var(--white);
       list-style: none;
       
       

    }
    input {
        width: 350px;
        padding: 1.0rem 1.5rem;
        border-radius: 50px ;
        cursor: text;
        border: 1px solid var(--pallete-11);;
        position: relative;
        
    }
    nav .left-img{
        display: none;
    }
    nav .left-icon{
        display: flex;
    }
       
        .list{
            display: none;
        }
        .list:hover{
            transition: .75s ease-in;
        }
        
    
}


.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    border-radius: 8px;
    padding: 1.0rem 1.5rem;
    gap: 10px;
    flex-wrap: wrap;
    row-gap: 30px;
    
    
   
}
a{
    text-decoration: none;
    color: var(--white);
   
}
.menu-container .menu{
    background-color: var(--pallete-8);
    color: var(--black);
    box-shadow: 0 3px 5px;
    border-radius: 8px;
    padding: 1.0rem 1.5rem;
    background-color: #e0f4f4;
    border: none;
    font-size: var(--text-paragraph);
    flex-wrap: wrap;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 10%;
    transition: .5s;    
   

}


/* ----------hero section------------ */

.item-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1700px;
    margin: 0 auto;
    width: 90%;
    
}
.item{
   
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 0 auto;
    width: 300px ;
    border: 2px solid var(--pallete-13);
    padding: 1.0rem 1.5rem;
    box-shadow: 1px 3px 5px;
    cursor: pointer;
    border-radius: 8px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    transition: .75s;
    
    
}
@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
        
    }to{
        opacity: 1;
        scale: 1;
      

    }
    
}
/* ---------------add to cart---------------*/
.add-cart-btn, .add-cart {
    cursor: pointer;
    background-color: var(--pallete-13) ;
    border: none;
    cursor: pointer;
    
    
   
}
a{
    font-size: 14px;
}
.add-cart{
    height: 40px;
}

}
.check-out-link{
    display: flex;
    align-items: center;
    color: white;
    background-color:    #160202 ;
    
    
}



.item-img {
    height: 150px;
    aspect-ratio: 1/1;

}
.rating{
    height: 20px;
}


.btn-primary{
    background: linear-gradient(to right, var(--pallete-2),var(--pallete-5));
    padding: 1.0rem 1.5rem;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    font-size: var(--text-sm);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-tight);
    background-size: 300% 100%;
    transition: background-position  0.5s ease-in-out;
  
}
.btn-primary:hover{
    background-position: right;
    color: var(--white);
   
    
    
}
nav span{
    font-size: 14px;

}

