:root{
    /*=============== color ==============  */

    --pallete-1: #3E3c6E;
    --pallete-2: #FE9798;
    --pallete-3: #FEAE97;
    --pallete-4: #F6E8DF;
    --pallete-5: #023336;
    --pallete-6: #4da674;
    --pallete-7: #C1E6BA;
    --pallete-8: #EAF8E7;
    --pallete-9: #293855;
    --pallete-10: #4165D5;
    --pallete-11: #F1AC20;
    --pallete-12: #c3e8c9;
    --pallete-13: #252525;
    --pallete-14: #61CBFF;
    --pallete-15: #A56ABD;
    --pallete-16: #E95354;
    --pallete-17: #50ADBF;
    --pallete-18: #19384A;
    --pallete-19: #FDDA76;
    --pallete-20: #1B1B1B;
    --pallete-21: #77ABB6;
    --pallete-22: #F8B097;
    --pallete-23: #3FC495;
    --pallete-24: #F9CD6A;
    --pallete-25: #4840A3;
    --pallete-26: #9CBBFC;
    --pallete-27: #D8EFF7;
    --white: #fff;
    --black: #000;


    /*=============== fontsize ==============  */
    --text-sm: 1.2rem;
    --text-base: 1.6rem;
    --text-paragraph: 2rem;
    --text-h5: 2.4rem;
    --text-h4: 3.2rem;
    --text-h3:  4.0rem;
    --text-h2: 4.8rem;
    --text-h1: 6.2rem;
    
    /*=============== fontweight ==============  */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /*=============== line-height ==============  */
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;

    /*=============== line-spacing ==============  */
    --letter-spacing-tight: -2px
    
    /*=============== font-family ==============  */
    --font-family: "Poppins", serif;
    --font-family2: "Agu Disploy", serif;
}   
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}


footer {
   font-size: var(--text-paragraph);
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 150px;

}
.icon-container{ 
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(8px);
    position: fixed;
    z-index: 99;
    right: 0;
    left: 0;
    bottom: 0;
    box-shadow: 8px 0 8px var(--pallete-13);
    
}
svg{
    font-size: large;
    font-weight: 700;
    transition: 1.75s ease-in;
    
   
    

  
    
    

}
